@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/   
}
body{
    background-image: linear-gradient(to left, #5fa3aae1, #91b969d2);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01203088;
    width: 600px;
    padding: 10px;
    margin: auto;/*para sentralizar automaticamente*/
}
h1{
    color: #FA7725;
    text-align: center;
    text-shadow: 1px 1px 2px #944716b7;
}
h2{
    color: #F29325;
}
p{
    text-align: justify;
}
 div:hover{
 color: #F29325 ;
}
div > p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: none;
    box-shadow: 5px 8px 15px #01203088;
    background-color: rgba(128, 128, 128, 0.527);
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    width: 150px;

}
div:hover > p{
    display: block;

}
div{
    text-align: center;
    width: 180px;
    box-shadow: 5px 5px 15px #01203088;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
a{
 color: #F29325;
 text-decoration: none;
}
a:active{
    color: #743f04;
}
a:hover{
    text-decoration: underline;
}