@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body {
    position: relative;
    
}
header {
    background-color: rgb(213, 213, 213);
    text-align: center;
    height: 200px;
    
}

header h1 {
    padding: 30px;
    font-family: "Roboto Condensed", serif;
    font-size: 2.5em;
    text-transform: uppercase;


}

header a {
    padding: 10px;
    padding-bottom: 20px;
}
header > img{
    background-color: #d3d3d3; 
}
article{
    font-size: 1.5em;
    padding: 30px;
    
}
article > h1{
    color: gray;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.211);
}
article p{
    padding: 20px;
    font-size: 40px;
    line-height: 2em;
    text-indent: 20px;
}
.visualg{
    background-image: url('iamgems/imagens/visualg-pagina-inicial.webp');
    height: 50vh;
    
    background-attachment: fixed;
    background-size: cover;
   margin: 0px;
   box-shadow: inset 2px  3px 14px rgba(0, 0, 0, 0.357);
}

.myF {
    background-image: url("iamgems/imagens/Imagem\ do\ WhatsApp\ de\ 2025-02-12\ à\(s\)\ 21.15.14_daa74be8.jpg");
    background-image: url('iamgems/imagens/Imagem\ do\ WhatsApp\ de\ 2025-02-11\ à\(s\)\ 17.19.47_c8e4cd8e.jpg');
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 97vh;
    
    background-size: contain;
    
    border-radius: 10px;
    box-shadow: inset 2px  3px 14px rgba(0, 0, 0, 0.357);
    margin: 5px;
    
}
div > h1{
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.211);
}
.container{
    display: flex;
    align-items: top;
    background-color: rgba(92, 149, 240, 0.757);
    width: 100%;
    margin: 0px;
    height: 97vh;
}





