@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body {
    position: relative;
    height: 100vh;
}
header {
    background-color: rgb(213, 213, 213);
    text-align: center;
    height: 200px;
    
}

header h1 {
    padding: 30px;
    font-family: "Roboto Condensed", serif;
    font-size: 2.5em;
    text-transform: uppercase;


}

header a {
    padding: 10px;
    padding-bottom: 20px;
}
header > img{
    background-color: #d3d3d3; 
}
article{
    font-size: 1.5em;
    padding: 30px;
    
}
article > h1{
    color: gray;
text-align: center;
}
article p{
    padding: 20px;
    font-size: 40px;
    line-height: 2em;
    text-indent: 20px;
}
.visualg{
    background-image: url('iamgems/imagens/visualg-pagina-inicial.webp');
    height:  100vh;
    background-attachment: fixed;
    background-size: cover;
   margin: 0px;
   box-shadow: inset 2px  3px 14px rgba(0, 0, 0, 0.357);
}
.video {
    background-color: darkgray;
}


